body {
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  color: #333;
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #0077b6;
}

main {
  margin-top: 2rem;
}

figure {
  margin-top: 1rem;
}

img {
  width: 100px;
  height: 100px;
}
